*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  background: rgb(245, 237, 227);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.app-wrap{
  background-color: #fff;
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
  padding: 2rem;
  border-radius: 10px;
}
.form-wrap{
  margin-bottom: 1.5rem;
}
.form-control{
  margin-top: 1rem;
}
.title{
  color: blue;
  text-align: center;
}
.label{
  color: rgb(60, 60, 253);
}
.input{
  padding: 0.25rem;
  padding-left: 1rem;
  border-color: transparent;
  font-size: 1rem;
  width: 100%;
  background: rgb(218, 216, 216);
  margin-bottom: 1rem;
  outline: none;
}
.submit-btn{
  border-color: transparent;
  background-color: blue;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.45rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  border-radius: 10px;
  float: right;
}
.no-items{
  text-align: center;
  margin-top: 40px;
}
.todo-date{
  color: gray;
}
.task-wrap{
margin-top: 3rem;
padding: 0 30px 0 30px;
}
.task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}
.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  transition: var(--transition);
}
.edit-btn{
  color:blue
}
.delete-btn{
  color:red
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tbody:nth-child(even) {
  background-color: #dddddd;
}

.container{
  padding: 0 20px;
}
.show-more{
  padding:  5px;
  background: blue;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.show-more:hover{
  cursor: pointer;
}
