*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  background: rgb(245, 237, 227);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.app-wrap{
  background-color: #fff;
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
  padding: 2rem;
  border-radius: 10px;
}
.form-wrap{
  margin-bottom: 1.5rem;
  text-align: center;
  color: blue;
}
.form-control{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.input{
  padding: 0.25rem;
  padding-left: 1rem;
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  background: rgb(218, 216, 216);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
}
.submit-btn{
  border-color: transparent;
  background-color: blue;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
}
.task-wrap{
margin-top: 2rem;
}
.task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0.25rem 1rem;
  border-radius: 10px;
  text-transform: capitalize;
}
.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}
.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  transition: var(--transition);
}
.edit-btn{
  color:green
}
.delete-btn{
  color:red
}
